## Ignore downloaded typings
typings
### Node ###
# Logs
node_modules
npm-debug.log*

### WebStorm ###
.idea

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
